[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/open-file-in-github"]
	path = vendor/open-file-in-github
	url = git://gist.github.com/170861.git
[submodule "vendor/word-count-race"]
	path = vendor/word-count-race
	url = git://gist.github.com/135586.git
